
#title {
  background-color: #ff4c68;
  color: #fff;
}

.container-fluid {
  padding: 3% 15%;
  padding-bottom: 4.5rem;
}

h1 {
 font-family: "Montserrat";
 font-size: 3rem;
 font-weight: 900;
 line-height: 1.5;
}

body{
  font-family: "Montserrat";
}

h3{
  font-family: "Montserrat";
  font-weight: 900;
  line-height: 1.5;
}
p{
  color:#8f8f8f
}
.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2rem;
  font-weight: bold;


}

.nav-item{
  padding: 0 18px;
}

.nav-link{
  font.size:1.5rem;
  font.family:"Montserrat-Light"
}

.title-image{
  width: 70%;
  padding-left: 40px;
  transform: rotate(25deg);
}

.navbar{
    padding-bottom: 5rem;
}

.col-lg-6{
  padding-bottom: 40px;
}

/* Features section */

#features{
  padding: 7% 15%;
}
.feature-box{
  text-align: center;
  padding: 5%;
}

.icon{
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover{
  color: #ff4c68;
}
